body {
  font-family: Arial;
  background: #f0f0f0;
  text-align: center;
}

.pergunta {
  background: white;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
}

img {
  margin: 10px 0;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}